body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: greenyellow;
}

.topo {
background-image: url(universo-arte.jpg);
background-size: cover;
border: 2px red solid;

}

li, a {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: rgb(255, 0, 0);

}